In [40]:
import pandas  as pd
df=pd.read_csv('Students_Performance.csv')

In [41]:
# 1 a)Find out how many males and females participated in the test.
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [42]:
# 1 b) What do you think about the students' parental level of education?
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

Most of the parents have education from some college.Very few have masters degree.

In [48]:
# 1 c)Who scores the most on average for math, reading and writing based on gender

y=df.groupby('gender')[['math score','reading score','writing score']].mean()
y

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [49]:
# c.i.) Based on Gender
y.idxmax()

math score         male
reading score    female
writing score    female
dtype: object

In [50]:
# c.ii)
x=df.groupby('test preparation course')[['math score','reading score','writing score']].mean()
x

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [51]:
# c.ii) based on test preparation course
x.idxmax()

math score       completed
reading score    completed
writing score    completed
dtype: object

Base on gender,male got the highest math score and frmale got highest in reading and writing score
Base on test preparation course,those who completed the course got highest in all 3 sections

In [58]:
# d.)What do you think about the scoring variation for math, reading and writing based on
# d.i)Based on Gender
df.groupby('gender')[['math score','reading score','writing score']].agg(['max','min','mean','std'])

       math score                           reading score                 \
              max min       mean        std           max min       mean
gender
female        100   0  63.376448  16.029928           100  17  72.590734
male          100  27  68.821577  14.556411           100  23  65.545643

                  writing score
              std           max min       mean        std
gender
female  14.411018           100  10  72.467181  14.844842
male    14.149594           100  15  63.446058  14.227225

In [59]:
# d.ii) Based on test preparation course
df.groupby('test preparation course')[['math score','reading score','writing score']].agg(['max','min','mean','std'])

                        math score                          reading score      \
                               max min      mean        std           max min
test preparation course
completed                      100  23  69.96648  14.521847           100  37
none                           100   0  63.78972  15.705689           100  17

                                              writing score                 \
                              mean        std           max min       mean
test preparation course
completed                74.175978  13.537572           100  36  74.684358
none                     66.417445  14.608896           100  10  64.457944


                               std
test preparation course
completed                13.236412
none                     15.041667

In [63]:
# e) The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.
top=0.25*len(df)
df_mathrank=df.sort_values(by='math score',ascending=False)
df_mathrank.head(int(top))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64

Case Study on Testing of Hypothesis

In [64]:
df_sales=pd.read_csv('Sales_add.csv')
df_sales.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [9]:
#2 a)The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
pop_mean=df_sales['Sales_before_digital_add(in $)'].mean()
sample_size=len(df_sales['Sales_After_digital_add(in $)'])
sample_mean=df_sales['Sales_After_digital_add(in $)'].mean()
sample_std=df_sales['Sales_After_digital_add(in $)'].std()
alpha=0.05
data=df_sales['Sales_After_digital_add(in $)']
print(f'pop_mean={pop_mean},sample_size={sample_size},sample_mean={sample_mean},sample_std={sample_std},alpha=0.05')

pop_mean=149239.95454545456,sample_size=22,sample_mean=231123.72727272726,sample_std=25556.777060725046,alpha=0.05

As sample size <30,t-test can be used
H0 = There is no increase in sales after stepping in to digital marketing
H1=Sales increased after digital marketing

In [65]:
import scipy.stats as stats
t_stat,p_value=stats.ttest_1samp(data,pop_mean,alternative='greater')
print(t_stat,p_value)

15.028066221386988 5.189045779399668e-13

In [66]:
if p_value<alpha:
    print('Reject null hypothesis.There is an increase in sales after stepping in to digital marketing')
else:
    print('Fail to reject null hypothesis.There is no increase in sales after stepping in to digital marketing')

Reject null hypothesis.There is an increase in sales after stepping in to digital marketing

In [70]:
# 2 b)The company needs to check whether there is any dependency between the features “Region” and “Manager”.

from scipy.stats import chi2_contingency
table=pd.crosstab(df_sales['Region'],df_sales['Manager'])
chi2_stat,p_value,dof,expected=stats.chi2_contingency(table)
print(chi2_stat,p_value,dof,expected)

3.050566893424036 0.5493991051158094 4 [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [71]:
if p_value<alpha:
    print('Reject null hypothesis.There is dependency between the objects')
else:
    print('Fail to reject null hypothesis.There is no dependency between 2 objects')

Fail to reject null hypothesis.There is no dependency between 2 objects